body
{
  font-size:1em;
  color:#666666;
  font-family: Arial,Helvetica,sans-serif;
  margin:0;
  padding:0;
  background:#3b3b3b;
}

h1,h2,h3,h4,h5,h6,p,div,ul,li,dl,dd,dt,ol,a,form,legend,label,input,button,header,footer,article,aside {
  margin:0;
  padding:0;
}

#mario_game
{
  background: #6490FE;
}