<form id="form_data" class="simple_form" action="/zoo/create" method="post" enctype="multipart/form-data">
  <div><label for="name">Name:</label><input type="text" name="name" id="name" value=""/></div>
  <div><label for="open">Open:</label>
    <select name="open">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
  </div>
  <div><input type="submit" value="Create Zoo"/></div>
</form>